use_css=false
normal_color=rgb(255,255,255)
focused_color=rgb(255,255,255)
urgent_color=rgb(255,255,255)
mode_color=rgb(255,255,255)
visible_color=rgb(255,255,255)
css=.workspace { }\n.workspace.visible { }\n.workspace.focused {\n    font-weight: bold;\n    border-bottom: 3px solid white;\n}\n.workspace.urgent { color: red; }\n.binding-mode { }\n
strip_workspace_numbers=false
auto_detect_outputs=false
output=

