[General]
Show_Labels=false
Update_Interval=5
Preferred_Width=1003
Preferred_Height=886
Number_Chips=5

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature1]
Address=1
Name=Core 0
Color=#f8f8f2
Show=true
Min=0
Max=45

[Chip1]
Name=acpitz-0
Number=1

[Chip2]
Name=iwlwifi_1-0
Number=2

[Chip3]
Name=nvme-100
Number=3

[Chip4]
Name=ACPI
Number=4

